.container-home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  text-align: center;
}

.hidden {
  visibility: hidden;
}

.title {
  letter-spacing: 3px;
}

/* HEAD AND CHILDS */
.page__head {
  margin-top: 3em;
}

.page__form {
  width: 100%;
  min-width: 200px;
  z-index: 2;
}

.page__search__form {
  width: 100%;
  margin-top: -6px;
}

.page__search__input__area {
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
}
.page__form-submit {
  visibility: hidden;
}

.page__form-input {
  font-size: 14px;
  line-height: normal;
  font-weight: 400;
  padding: 0 12px 0 38px;
  line-height: 14px;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIG9wYWNpdHk9Jy40JyB3aWR0aD0nMzEnIGhlaWdodD0nMzEnIHZpZXdCb3g9JzAgMCAxNCAxNCc+PHBhdGggZmlsbD0nI0ZGRicgZmlsbC1ydWxlPSdldmVub2RkJyBkPSdNOS4yMDIgMy4wMjZhNC4zNjcgNC4zNjcgMCAxMC02LjE3NiA2LjE3NiA0LjM2NyA0LjM2NyAwIDEwNi4xNzYtNi4xNzZtNC41NDMgMTAuNzE5YS44NzUuODc1IDAgMDEtMS4yMzYgMGwtMi43NTEtMi43NTJjLTIuMzk1IDEuNzktNS43OTEgMS42MjEtNy45NjctLjU1NWE2LjExMyA2LjExMyAwIDAxMC04LjY0NyA2LjExMyA2LjExMyAwIDAxOC42NDcgMGMyLjE3NiAyLjE3NiAyLjM0NiA1LjU3Mi41NTUgNy45NjdsMi43NTIgMi43NTFjLjM0LjM0MS4zNC44OTQgMCAxLjIzNicvPjwvc3ZnPg==")
    no-repeat scroll 16px;
  background-size: 14px;
  color: hsla(0, 0%, 100%, 0.6);
  background-color: hsla(0, 0%, 100%, 0.16);
  border-radius: 24px;
  height: 44px;
  transition: color 0.3s, background-color, opacity, 0.3s;
}

/* GAMES LIST */
.page__list__games {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}

/* CARDS */
.page__list__cards {
  display: flex;
  margin: 0px 5px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.page__list__cards-card {
  flex: 0 1 32%;
  border-radius: 20px;
  background-color: #1b1b1b;
  margin: 15px 5px;
  text-align: left;
  transition: 1s;
  /* 0 = flex-grow, 1 = flex-shrink, 24% = width */
}

.card__image {
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.page__list__card-genres {
  display: flex;
  margin: 5px 0;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}

/* TEXTS */
.genres__title {
  color: rgb(97, 97, 97);
}
.genres__string {
  color: white;
}

.page__list__card-title {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.card__link {
  color: white;
}

.card__link:hover {
  color: rgb(180, 180, 180);
  transition: 0.23s;
}

.card__title {
  word-wrap: break-word;
  font-size: 25px;
  font-weight: 400;
  line-height: normal;
  font-family: "Ubuntu Mono", monospace;
}

/* DIVBAR PAGE */
.page__divbar {
  text-align: left;
}

.page__divbar-content {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-size: 26px;
}
.head {
  margin: 0 0 0 15px;
}
.head h1 {
  margin: 0 0 10px 0;
}

.divbar__btn:hover {
  cursor: pointer;
  color: rgb(180, 180, 180);
  transition: 0.23s;
}

.page__divbar-content p {
  font-weight: 400;
  font-size: 25px;
  margin: 0 0 15px 0;
}

/* ----- MEDIAS QUERY ----- */

/* IPHONE 6/7/8 */
@media screen and (max-width: 375px) {
  /* DIVBAR */
  .page__divbar-content {
    width: 100px;
    flex-direction: row;
  }
  .page__divbar-content p {
    margin: 1.9em 0;
  }
  /* LIST CARDS */
  .page__list__cards-card {
    flex: 0 1 100%;
  }
  .page__list__games {
    flex-direction: column;
  }
  /* HELPER */
  .hidden {
    visibility: visible;
  }
}
