.page__form-div {
  text-align: left;
}

.page__form-select {
    height: 55px!important;
}

.input__header {
  margin-bottom: 0;
  font-family: "Ubuntu Mono", monospace;
}

.page__content {
    width: 100%;
}

.page__form-input__vg {
  width: calc(100% - 10px);
  width: -webkit-fill-available;
  height: 33px;
  line-height: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  font-family: "Ubuntu", sans-serif !important;
}
